.auto-style1 {
    background-color: #262222;
}

.auto-style2 {
    margin-top: 0px;
    height: 192px;
    width: 754px;
}

.auto-style3 {
    font-family: Tahoma;
    font-size: x-large;
    text-align: center;
}

.auto-style4 {
    background-color: silver;
    height: 185px;
    vertical-align: top;
    width: 758px;
}

.button {
    background-color: #990028;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 50px;
}

.table1 {
    background-color: #ffffff;
    border: 0px;
    padding: 0px;
    border-spacing: 12px;
    width: 635px;
    height: 61px;
}

.td1 {
    background-color: #262222;
    vertical-align: center;
    height: 112px; 
    width: 176px;
}

.table2 {
    border: 0px;
    padding: 0px;
    border-spacing: 10px;
    height: 195px;
    width: 55%;
}

.td2 {
    height: 185px;
    vertical-align: top;
    width: 100px;
    padding: 6px;
    word-spacing: 4px;
}

.table3 {
    background-color: #ffffff;
    border: 0px;
    padding: 6px;
    border-spacing: 4px;
    width: 137px;
}

.tr1 {
    background-color: #cccccc;
}

.table {
    background-color: #ffffff;
    border: 0px;
    width: 137px;
}