.auto-style1 {
font-size: xx-large;
color: #0000FF;
font-family: "Harlow Solid Italic";
}
.auto-style2 {
margin-top: 0px;
}
.auto-style3 {
font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
font-size: x-large;
}
.auto-style4 {
font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
font-size: large;
}
.auto-style5 {
font-family: "Stylus BT";
text-align: center;
font-size: x-large;
}
.auto-style7 {
text-align: center;
}
.auto-style10 {
font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
text-align: center;
font-size: x-large;
}
.auto-style11 {
font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.auto-style12 {
font-size: medium;
}body
{
}
/* Dropdown Button */
.dropbtn {
    background-color: #900028;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #900028;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}